body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 0.625em 1.25em;
}

.searchForm {
    display: flex;
    align-items: center;
}

.searchInput {
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.25em;
    border: 1px solid #ddd;
    background-color: #333;
    color: #fff;
}

.searchButton {
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    border: none;
    background-color: #0079d3;
    color: #fff;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #005fa3;
}
.navLinks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navLinks li {
    margin: 0 1.25em;
}

.navLinks a {
    color: #fff;
    text-decoration: none;
}

.navLinks a:hover {
    text-decoration: underline;
}

.profileHdr {
    background-color: #444;
    border-bottom: 0.0625em solid #fff;
    padding: 1.25em;
    text-align: center;
}

.profileInfo {
    display: inline-block;
}

.profilePic {
    width: 6.25em;
    height: 6.25em;
    border-radius: 50%;
    border: 0.125em solid #fff;
    margin-bottom: 0.625em;
    object-fit: cover;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1.25em;
    padding: 1.25em;
}

.comments, .editForm {
    background-color: #444;
    padding: 1.25em;
    border-radius: 0.3125em;
    border: 0.0625em solid #fff;
    display: flex;
    flex-direction: column;
}

.comments {
    flex: 3; 
    margin-right: 2%; 
}

.editForm {
    flex: 1; 
}


.commentsList, .formGrp, button {
    flex: 1; 
    width: 100%;
}



.commentsList {
    list-style: none;
    padding: 0;
}

.comment + .comment {
    margin-top: 0.9375em;
}

.comment h3 {
    margin: 0 0 0.625em;
}

.editForm {
    margin-top: 1.25em;
    text-align: center;
}

.formGrp {
    margin-bottom: 0.9375em;
    width: 80%;
}

.formGrp label {
    display: block;
    margin-bottom: 0.3125em;
}

.formGrp input {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.25em;
    border: 0.0625em solid #ddd;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #0079d3;
    color: #fff;
    padding: 0.625em 0.9375em;
    border: none;
    border-radius: 0.1875em;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}
